<div ng-controller="NavController">
  <div class="row">
    <!-- <a class="button three columns" href="#user">Home</a> -->
    <a ng-show="show" class="button two columns" href="#instructions">Instructions</a>
    <a ng-show="show" class="button two columns" href="#homePage">Home</a>
    <a ng-show="show" class="button two columns" href="#myFridge">My Fridge</a>
    <a ng-show="show" class="button two columns" href="#groceryList">Grocery List</a>
    <a ng-show="show" class="button two columns" href="#recipeSearch">Find Recipes</a>
    <a ng-show="show" class="button two columns" href="#favoriteRecipes">Favorites</a>
  </div>
</div>
