<div class="my-fridge">
  <h2>Instructions</h2>
  <h5>Fancy Fridge is not just for things that belong in your fridge!</h5>

  <p>Fancy Fridge is intended to be used for general meal planning and an easy way to plan your trip to the grocery store. The driving force behind the creation of Fancy Fridge was the amount of food we throw away. So much food is wasted because we feel hungry but "we have nothing to eat". So we end up wasting ingredients we could have used to make something totally bad ass. I have some general suggestions for the ways you should use Fancy Fridge to get the best use out of it.</p>

  <ul>
    <li>Be specific in your searches, you'll get more accurate results.</li>
    <li>Using an API means that often times, the information displayed comes from somewhere out on the web. This means things wont happen at the snap of your finger, be patient and give it some time.</li>
    <li>I give you the UPC for items in your grocery list because it can help you find out if the store you're at has exactly what you're looking for and how much it costs. Just ask an employee! They probably dont bite.</li>
    <li>Don't forget at the bottom of your grocery list, theres a cost estimation. This does not include taxes and its a rounded dollar amount.</li>
    <li>Save recipes you like! If you find something you want to try, favorite it so you can check it out later.</li>
  </ul>

  <h2 id="signature">Stay Fancy,</h2>
  <h2 id="signature">Logan Lieberg</h2>

</div>
